body {
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
    margin: 0
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

@media (min-width: 768px) {
    h1 {
        font-size: 24px;
    }
}

p, span, li, h4 {
    font-size: 12px;
}
@media (min-width: 768px) {
    p, span, li, h4 {
        font-size: 16px;
    }
}

.sprite-container__top {
    position: relative;
}

.header__sprite {
   display: none;
}
@media (min-width: 768px) {
    .header__sprite {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: -20px;
        left: 0;
        z-index: 0;
    }
}

header {
    position: relative;
    display: flex;
    align-items: center;
    background: #fff;
    
    background-color: rgba(255, 255, 255, 0.67);
    z-index: 1;
    box-shadow: inset   0px 12px 24px 0px rgba(0, 0, 0, 0.3),
                        0px 4px 24px 0px rgba(0, 0, 0, 0.3); 
}

header img {
    width: 70px;
    height: auto;
    margin: 10px 0;
}

@media (min-width: 768px) {
    header {
        justify-content: center;

    }
    header img {
        width: 138px;
        height: auto;
        margin: 0;
    }
}

.profile-header {
    text-align: left;
}

@media (min-width: 768px) {
    .profile-header {
        padding: 10px 0 10px 50px; 
        text-align: center;
    }
}

.profile-header__info {
    display: flex;
    align-items: center;
    gap: 15px;
}

@media (min-width: 768px) {
    .profile-header__info {
        justify-content: left;

    }
}

.profile-header__title {
    font-weight: 400;
}

.profile-header__label {
    border: 1px solid #3D8EDA;
    color: #3D8EDA;
    padding: 5px;
    font-size: 13px;
    border-radius: 2px;
}

.profile-stats {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 15px;
    cursor: pointer;
}

.profile-stats__item span {
    font-weight: bold;
}

.date-inputs {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .date-inputs {
        justify-content: left;
    }
}

.date-picker {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100px;
  cursor: pointer;
  margin-right: 10px;
}

@media (min-width: 768px) {
    .date-picker {
        width: 150px;
    }
}

.date-inputs__title {
  margin: 0;
  font-weight: 500;
}

@media (min-width: 768px) {
    .date-inputs__title {
        margin-bottom: 6px;
    }
}

.main-content {
    width: 95%;
    margin: 0 auto;
    z-index: 1;
    position: relative;
}

@media (min-width: 768px) {
    .main-content {
         width: 70%;
    }
}

.view-toggle {
    display: flex;
    justify-content: end;
    gap: 20px;
    margin: 10px 0;
    align-items: center;
}

@media (min-width: 768px) {
    .view-toggle {
         margin: 30px 0;
    }
}

.view-toggle__btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.view-toggle__grid {
    width: 22px;
    height: 22px;
}

.view-toggle__list {
    width: 18px;
    height: 18px;
}

@media (min-width: 768px) {
    .view-toggle__grid {
        width: 30px;
        height: 30px;
    }
    .view-toggle__list {
        width: 22px;
        height: 22px;
    }
}

.view-toggle__active {
    filter: invert(57%) sepia(93%) saturate(2747%) hue-rotate(191deg) brightness(96%) contrast(92%);
}

/* List view (default) */
#postsList.list-view .post-item {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

/* Grid view */
#postsList.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

#postsList.grid-view .post-item {
    display: grid;
    height: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "media media"
        "title meta"
        "info info";
    gap: 10px;
    padding: 0;
    background: #fff;
}

.post-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    margin: 10px 0;
    height: 86px;
}

@media (min-width: 768px) {
    .post-item {
            padding-right: 7%;

    }
}

#postsList.grid-view .post-item__header {
    display: contents;
    
}

.post-item__header {
    display: flex;
    align-items: center;
    gap: 15px;
}

#postsList.grid-view .post-item__media {
    width: 100%;
    height: 200px;
    grid-area: media;
    object-fit: cover;
}

.post-item__media {
    width: 86px;
    height: 86px;
}

#postsList.grid-view .post-item__content {
    grid-area: title;
    padding-left: 15px;
}

#postsList.grid-view .post-item__meta {
    grid-area: meta;
    grid-row: 2;
    grid-column: 2;
}

.post-item__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

}

.post-item__title {
    font-weight: 500;
    margin: 0;
    padding-bottom: 5px;
}

#postsList.grid-view .post-item__stats {
    display: inline;
}

.post-item__stats {
    display: flex;
    align-items: center;
}

#postsList.grid-view .post-item__stats span {
    padding-bottom: 10px;
}


.post-item__stats span {
    margin: 0 15px 0 0;
    font-size: 10px;
    display: flex;
    gap: 5px;
}

@media (min-width: 768px) {
    .post-item__stats span {
        font-size: 14px;
    }
}

.post-item__stats span img {
    width: 10px;
    height: 10px;
}

@media (min-width: 768px) {
    .post-item__stats span img {
        width: 15px;
        height: 15px;
    }
}

#postsList.grid-view .post-item__info {
    grid-area: info;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 15px;
}

.post-item__info {
    display: flex;
    flex-direction: column;
}

.post-item__info-date {
    margin: 0;
    font-size: 10px;
}

@media (min-width: 768px) {
    .post-item__info-date {
        font-size: 14px;
    }
}

.load-more-container {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.load-more-btn {
    color: #929292;
    border: 1px solid #929292;
    border-radius: 14px;
    background-color: #fff;
    width: 110px;
    height: 28px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}

.sprite-container__bottom {
    max-width: 1920px;
    position: relative;
    text-align: right;
    margin: 0;
}

.footer__sprite {
   display: none;
}

@media (min-width: 768px) {
    .footer__sprite {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 300px;
        left: 0;
        z-index: 0;
    }
}

