body {
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
    margin: 0
}

 h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
 }

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.profile-header {
    padding: 10px 0 10px 50px;
    text-align: center;
}

.profile-header__info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.profile-header__title {
        font-weight: 400;
}

.profile-header__label {
    border: 1px solid #3D8EDA;
    color: #3D8EDA;
    padding: 5px;
    font-size: 13px;
    border-radius: 2px;
}

.profile-stats {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 15px;
    cursor: pointer;
}

.profile-stats__item span {
    font-weight: bold;
}

.date-inputs {
    display: flex;
    align-items: center;
    gap: 10px;
}

.posts-list {
    width: 70%;
    margin: 0 auto;
}

.post-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    margin: 10px 0;
    height: 86px;
    padding-right: 7%;
}

.post-item__header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.post-item__media {
    width: 86px;
    height: 86px;
}

.post-item__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    
}

.post-item__title {
    font-weight: 500;
    margin: 0;
    padding-bottom: 5px;
}

.post-item__stats {
    display: flex;
    align-items: center;
}

.post-item__stats p {
    margin: 0 15px 0 0;
    font-size: 14px;
    display: flex;
    gap: 5px;
}

.post-item__info {
    display: flex;
    flex-direction: column;
}

.post-item__info-date {
    margin: 0;
    font-size: 14px;
}

.load-more-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.load-more-btn {
    color: #929292;
    border: 1px solid #929292;
    border-radius: 14px;
    background-color: #fff;
    width: 110px;
    height: 28px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}
