body {
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
    margin: 0
}

 h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
 }

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.profile-header {
    padding: 10px 0 10px 50px;
    text-align: center;
}

.profile-header__info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.profile-header__title {
    font-weight: 400;
}

.profile-header__label {
    border: 1px solid #3D8EDA;
    color: #3D8EDA;
    padding: 5px;
    font-size: 13px;
    border-radius: 2px;
}

.profile-stats {
    display: flex;
    list-style-type: none;
    padding: 0;
    gap: 15px;
    cursor: pointer;
}

.profile-stats__item span {
    font-weight: bold;
}

.date-inputs {
    display: flex;
    align-items: center;
    gap: 10px;
}

.main-content {
    width: 70%;
    margin: 0 auto;

}

.view-toggle {
    display: flex;
    justify-content: end;
    gap: 20px;
    margin: 30px 0;
    align-items: center;
}

.view-toggle__btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.view-toggle__grid {
    width: 30px;
    height: 30px;
}

.view-toggle__list {
    width: 22px;
    height: 22px;
}

.view-toggle__active {
    filter: invert(57%) sepia(93%) saturate(2747%) hue-rotate(191deg) brightness(96%) contrast(92%);
}

/* List view (default) */
#postsList.list-view .post-item {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

/* Grid view */
#postsList.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

#postsList.grid-view .post-item {
    display: grid;
    height: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "media media"
        "title meta"
        "info info";
    gap: 10px;
    padding: 0;
    background: #fff;
}

.post-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    margin: 10px 0;
    height: 86px;
    padding-right: 7%;
}

#postsList.grid-view .post-item__header {
    display: contents;
    
}

.post-item__header {
    display: flex;
    align-items: center;
    gap: 15px;
}

#postsList.grid-view .post-item__media {
    width: 100%;
    height: 200px;
    grid-area: media;
    object-fit: cover;
}

.post-item__media {
    width: 86px;
    height: 86px;
}

#postsList.grid-view .post-item__content {
    grid-area: title;
    padding-left: 15px;
}

#postsList.grid-view .post-item__meta {
    grid-area: meta;
    grid-row: 2;
    grid-column: 2;
}

.post-item__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

}

.post-item__title {
    font-weight: 500;
    margin: 0;
    padding-bottom: 5px;
}

#postsList.grid-view .post-item__stats {
    display: inline;
}

.post-item__stats {
    display: flex;
    align-items: center;
}

#postsList.grid-view .post-item__stats span {
    padding-bottom: 10px;
}


.post-item__stats span {
    margin: 0 15px 0 0;
    font-size: 14px;
    display: flex;
    gap: 5px;
}

#postsList.grid-view .post-item__info {
    grid-area: info;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 15px;
}

.post-item__info {
    display: flex;
    flex-direction: column;
}

.post-item__info-date {
    margin: 0;
    font-size: 14px;
}

.load-more-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.load-more-btn {
    color: #929292;
    border: 1px solid #929292;
    border-radius: 14px;
    background-color: #fff;
    width: 110px;
    height: 28px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}
